<div>
  <div>
    <div class="projectCont p-3">
      <div class="row">
        <div class="col-4">Name: {{project.name}}</div>
        <div class="col-4">Location: {{project.location}}</div>
        <div class="col-4">Size: {{project.size}} Katha</div>
      </div>
      <div class="row">
        <div class="col-4">Start Date: {{project.start | date}}</div>
        <div class="col-4">Status: {{project.status | projectStatus}}</div>
        <div class="col-4">Type: {{project.type | projectType}}</div>
      </div>
      <div class="row">
        <div class="col-6">Ownership: {{project.ownership}}</div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary mr-3" [routerLink]="['../../', 'manage', project._id]">Add Document</button>
          <button class="btn btn-primary mr-3" [routerLink]="['../../', 'manage', project._id]">Edit Project</button>
          <button class="btn btn-danger" (click)="deleteProject(project)">Delete Project</button>
        </div>
      </div>
    </div>
    <div class="p-3" *ngFor="let doc of documents">
      <div class="row">
        <div class="col-4">Name: {{doc.name}}</div>
        <div class="col-4">Status: {{doc.status | projectStatus}}</div>
        <div class="col-4">Remarks: {{doc.remarks}}</div>
      </div>
      <div class="row">
        <div class="col-4">Signed Date: {{doc.signeddate | date}}</div>
        <div class="col-4">Signed By: {{doc.signedby}}</div>
        <div class="col-4">Expiry Date: {{doc.expiredate | date}}</div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary mr-3" (click)="editDocument(doc)">Edit Document</button>
          <button class="btn btn-danger" (click)="deleteDocument(doc)">Delete Document</button>
        </div>
      </div>
    </div>
  </div>
</div>