<div>
  <div>
    <div class="projectCont p-3">
      <div class="row">
        <div class="col-8">
          <h4 class="m-0 cursor-pointer" [routerLink]="[project._id]">
            {{project.name}}
            <span
              class="statusSpan mr-2"
              [ngStyle]="{'background-color': project.status | statusColor}"
              placement="top"
              [ngbTooltip]="project.status | projectStatus"
            ></span>
            <span style="font-size: 14px;">({{project.type | projectType}} project) - {{project.ownership}}</span>
          </h4>
          <div class="details">
            <div>
              <i class="las la-expand-arrows-alt"></i>
              {{project.size}} Katha
            </div>
            <div>
              <i class="las la-map-marker"></i>
              {{project.location}}
            </div>
            <div>
              <i class="las la-rocket"></i>
              {{project.start | date}}
            </div>
          </div>
        </div>
        <div class="col-4 align-self-center text-right">
          <div>
            <!-- {{project.status | projectStatus}} -->
            <button class="btn primary-color p-1 mr-3" (click)="addDocument()">
              <i style="font-size: 19px;" class="align-text-top las la-plus"></i>
              Add Document
            </button>
            <button class="btn primary-color p-1 mr-2" [routerLink]="['../', 'manage', project._id]">
              <i style="font-size: 19px;" class="las la-pencil-alt"></i>
            </button>
            <button class="btn secondary-color p-1" [swal]="deleteSwal">
              <i style="font-size: 19px;" class="las la-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div *ngFor="let doc of documents; let ind=index">
        <div 
          class="px-3 mt-4 phaseLabel"
          (click)="phaseClick(doc.phase)"
          *ngIf="ind == 0 || doc.phase !== documents[ind - 1]?.phase"
          [ngClass]="{'mb-3': !expanded.get(doc.phase)}"
        >
          <label class="m-0 cursor-pointer">Phase {{doc.phase}}</label>
          <button class="btn py-0">
            <i *ngIf="expanded.get(doc.phase)" class="las la-chevron-circle-down"></i>
            <i *ngIf="!expanded.get(doc.phase)" class="las la-chevron-circle-right"></i>
          </button>
          <hr *ngIf="!expanded.get(doc.phase)">
        </div>
        <div class="px-3" *ngIf="expanded.get(doc.phase)">
          <div class="border" [ngClass]="{'border-bottom-0': !(documents.length - 1 === ind || doc.phase !== documents[ind + 1]?.phase)}">
            <app-document-details
              [doc]="doc"
              (onEdit)="editDocument($event)"
              (onDelete)="deleteDocument($event)"
            ></app-document-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal
  #deleteSwal
  title="Delete {{ project.name }}?"
  text="This cannot be undone"
  [showCancelButton]="true"
  confirmButtonColor="var(--primary-color)"
  cancelButtonColor="var(--secondary-color)"
  (confirm)="deleteProject(project)">
</swal>