<div class="headerContainer h-100">
  <div class="d-flex px-4 h-100">
    <div class="p-3">
      <img
        src='../../../../assets/images/logo.jpeg'
        alt="projet_logo"
        width="60px"
        height="60px"
      />
    </div>
    <div class="px-4 d-flex flex-row justify-content-between" style="width: calc(100% - 92px);" *ngIf="loggedIn">
      <div class="align-self-center">
        <h6 class="m-0 pr-4 pl-1 d-inline-block" *ngFor="let head of headOpts">
          <a class="custom-link" [ngClass]="{'selected-route': selectedRoute(head)}" [routerLink]="head.path">{{head.label}}</a>
        </h6>
      </div>
      <div class="align-self-center">
        <div ngbDropdown container="body" placement="bottom-right" class="d-inline-block">
          <div class="userIcon font-weight-bold" ngbDropdownToggle>
            <i class="las la-user"></i>
          </div>
          <div ngbDropdownMenu>
            <div class="py-1 px-4"><b>Hello primeDev</b></div>
            <hr class="my-2">
            <button (click)="logout()" ngbDropdownItem>Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>