<div class="py-2" [ngClass]="{'px-2': !child}">
  <div class="m-0 cursor-pointer">
    <b (click)="clickDocument()">{{doc.name}} </b>
    <span style="font-size: 14px;" [ngStyle]="{'color': doc.status | statusColor}">({{doc.status | projectStatus: 'document'}})</span>
    <div style="float: right;">
      <button *ngIf="actionAllowed" class="btn primary-color p-1 mr-2" (click)="editDocument(doc)">
        <i style="font-size: 19px;" class="las la-pencil-alt"></i>
      </button>
      <button *ngIf="actionAllowed" class="btn secondary-color p-1" [swal]="deleteSwal">
        <i style="font-size: 19px;" class="las la-trash-alt"></i>
      </button>
    </div>
  </div>
  <div style="font-size: 14px;" *ngIf="doc.remarks">
    Remarks: <b>{{doc.remarks}}</b>
  </div>
  <div style="font-size: 14px;" *ngIf="doc.project">
    Project: <b>{{doc.project.name}}</b>
  </div>
  <div style="font-size: 14px;" *ngIf="doc.signedby">
    Signed: <b>{{doc.signedby}} - {{doc.signeddate | date}}</b>
  </div>
  <div style="font-size: 14px;" *ngIf="doc.expiredate">
    Expiry Date: 
    <b>{{doc.expiredate | date}} - ({{doc.expirenotify | expireNotify}} days)</b>
  </div>
  <div class="mt-2" *ngIf="doc.childDocs?.length">
    <div class="pl-4 mb-0" *ngFor="let childDoc of doc.childDocs; let ind = index">
      <app-document-details
        [doc]="childDoc"
        [child]="true"
        [actionAllowed]="actionAllowed"
        (onEdit)="editDocument($event)"
        (onDelete)="deleteDocument($event)"
      ></app-document-details>
      <hr *ngIf="doc.childDocs && doc.childDocs.length - 1 !== ind" class="m-0" style="margin-right: -0.5rem !important;">
    </div>
  </div>
</div>

<swal
  #deleteSwal
  title="Delete {{ doc.name }}?"
  text="This cannot be undone"
  [showCancelButton]="true"
  confirmButtonColor="var(--primary-color)"
  cancelButtonColor="var(--secondary-color)"
  (confirm)="deleteDocument(doc)">
</swal>