/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './styles/variables.scss';


body {
  color: var(--primary-color);
}

.custom-link {
  color: var(--primary-color);

  &:hover {
    color: var(--primary-color);
  }
}

.dropdown-toggle::after {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.primary-color {
  color: var(--primary-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
}

.statusSpan {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
}